:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    box-sizing: inherit;
  }

  header {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
  }

  header h1 {
    margin: 20px;
  }